.App {
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  margin: 50px auto;
  background: black;
  color: white;
}
.App h2 {
  margin-bottom: 20px;
}
